In [1]:
import numpy as np
import pandas as pd

In [4]:
## Series

data = pd.Series([.25, .5, .75, 1.0])  # 1d array of indexed data

In [5]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
data.values  # numpy array

array([0.25, 0.5 , 0.75, 1.  ])

In [8]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
print(data[1])
print(data[1:3])

0.5
1    0.50
2    0.75
dtype: float64

In [10]:
# difference between Series and numpy array is Series has an explicit, while np array has implicit integer index

In [11]:
data = pd.Series([.25, .5, .75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [12]:
data['b']

0.5

In [14]:
# series as specialized dict
# index and values are typed, allowing for more efficiency

In [15]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [16]:
population['California']

38332521

In [17]:
# but is still ordered, unlike a dict
population['California': 'Illionois']

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64

In [19]:
## Dataframe Objects

In [21]:
# generalized numpy array

area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
dtype: int64

In [22]:
states = pd.DataFrame({'population': population, 'area': area})
states

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

In [23]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [24]:
states.columns

Index(['area', 'population'], dtype='object')

In [25]:
# as a specialized dict

states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [26]:
## Construction dataframes

# from a series
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193

In [27]:
# from list of dicts

data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [28]:
# will fill nonsensical values

pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [29]:
# from dict of Series objects

pd.DataFrame({'population': population, 'area': area})

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

In [30]:
# from 2d numpy array

pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

        foo       bar
a  0.564443  0.055584
b  0.512457  0.900279
c  0.579449  0.140304

In [31]:
# from numpy structured object

A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [32]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [33]:
## Index Objects

In [35]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [36]:
# immutable array

ind[1]

3

In [37]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [38]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [39]:
ind[1] = 0

TypeError: Index does not support mutable operations

In [40]:
# As Ordered Set

indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [41]:
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [42]:
indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [43]:
indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

In [44]:
# also exist as methods

indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [45]:
indA.symmetric_difference?