In [2]:
## Higher dimensional data in Series and Dataframes

import pandas as pd
import numpy as np

In [3]:
## 2d data in a Series

In [4]:
# the bad approach
# python tuples as keys

index = [('California', 2000), ('California', 2010), ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [5]:
# can index and slice based on multiple index
pop[('California', 2010):('Texas', 2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

In [6]:
# but selecting all values from 2010 gets messy
pop[[i for i in pop.index if i[1] == 2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [7]:
# it works, but is not as efficient or easy to use as other approaches

In [8]:
## The better way

index = pd.MultiIndex.from_tuples(index)
index

MultiIndex(levels=[['California', 'New York', 'Texas'], [2000, 2010]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [9]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [10]:
# notice the levels!

In [12]:
# now getting all data from 2010 is easy and more efficient

pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [13]:
## MultiIndex as extra dimension

In [14]:
# could have stored the same thing using a DataFrame with index and column labels
# unstack converts to this

In [15]:
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [16]:
# stack goes back the other way
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [17]:
# adding another dimension

pop_df = pd.DataFrame({'total': pop,
                       'under18': [9267089, 9284094,
                                   4687374, 4318033,
                                   5906301, 6879014]})
pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [19]:
# works with ufuncs etc

f_u18 = pop_df['under18'] / pop_df['total']
f_u18

California  2000    0.273594
            2010    0.249211
New York    2000    0.247010
            2010    0.222831
Texas       2000    0.283251
            2010    0.273568
dtype: float64

In [20]:
f_u18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

In [21]:
# can use this approach to explore and manipulate high-dimension data

In [22]:
## Methods of MultiIndex Creation

In [23]:
# pass 2 or more index arrays to the constructor

df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])
df

        data1     data2
a 1  0.316855  0.212201
  2  0.001500  0.801606
b 1  0.746907  0.813277
  2  0.416834  0.842147

In [24]:
# passing a dictionary with tuples as keys will also work

data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102}
pd.Series(data)

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [25]:
## Explicitly creating MultiIndexes

In [26]:
# from a simple list of arrays

pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [27]:
# from a list of tuples
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [28]:
# Cartesian product for single indices
pd.MultiIndex.from_product([['a', 'b'], [1, 2]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [29]:
# directly from levels and labels
pd.MultiIndex(levels=[['a', 'b'], [1, 2]],
              labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [30]:
# any of these can be passed as the index when creating a Series or Dataframe
# or be passed to reindex of same

In [31]:
## MultiIndex level names

pop.index.names = ['state', 'year']
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [33]:
## MultiIndex for columns

# hierarchical indices and columns

index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                    names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                     names=['subject', 'type'])

# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      44.0  37.8  52.0  36.7  31.0  37.5
     2      26.0  36.7  29.0  36.9  46.0  38.2
2014 1      39.0  37.0  38.0  36.9  41.0  36.9
     2      41.0  36.8  45.0  37.3  36.0  36.3

In [44]:
health_data['Sue']['HR'][2013][2]

46.0

In [45]:
health_data['Guido']

type          HR  Temp
year visit
2013 1      52.0  36.7
     2      29.0  36.9
2014 1      38.0  36.9
     2      45.0  37.3

In [50]:
## Indexing and Slicing a MultiIndex

In [51]:
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [52]:
pop['California', 2000]

33871648

In [53]:
# can also index just one of the levels

pop['California']

year
2000    33871648
2010    37253956
dtype: int64

In [54]:
# as long as MultiIndex is sorted, can do slicing

pop.loc['California':'New York']

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64

In [55]:
pop[:, 2000]

state
California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [56]:
# boolean masks also work
pop[pop > 22000000]

state       year
California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64

In [57]:
# fancy indexing also works
pop[['California', 'Texas']]

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

In [67]:
## Multiply indexed DataFrames

In [68]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      44.0  37.8  52.0  36.7  31.0  37.5
     2      26.0  36.7  29.0  36.9  46.0  38.2
2014 1      39.0  37.0  38.0  36.9  41.0  36.9
     2      41.0  36.8  45.0  37.3  36.0  36.3

In [69]:
health_data['Guido', 'HR']

year  visit
2013  1        52.0
      2        29.0
2014  1        38.0
      2        45.0
Name: (Guido, HR), dtype: float64

In [70]:
health_data.iloc[:2, :2]

subject      Bob
type          HR  Temp
year visit
2013 1      44.0  37.8
     2      26.0  36.7

In [71]:
health_data.loc[:, ('Bob', 'HR')]

year  visit
2013  1        44.0
      2        26.0
2014  1        39.0
      2        41.0
Name: (Bob, HR), dtype: float64

In [72]:
# slices within the tuples doesn't work

health_data.loc[(:, 1), (:, 'HR')]

SyntaxError: invalid syntax (<ipython-input-72-548f39185ace>, line 3)

In [85]:
# can use IndexSlice for this

idx = pd.IndexSlice
health_data.loc[idx[:, 1], idx[:, 'HR']]

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 1      44.0  52.0  31.0
2014 1      39.0  38.0  41.0

In [86]:
## Rearranging Multi-Indices

In [87]:
# sorted and unsorted

index = pd.MultiIndex.from_product([['a', 'c', 'b'], [1, 2]])  # not sorted
data = pd.Series(np.random.rand(6), index=index)
data.index.names = ['char', 'int']

data

char  int
a     1      0.247497
      2      0.345109
c     1      0.607822
      2      0.171523
b     1      0.972835
      2      0.531018
dtype: float64

In [91]:
# slicing will fail

data['a':'b']

UnsortedIndexError: 'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [92]:
# sort it first

data = data.sort_index()
data

char  int
a     1      0.247497
      2      0.345109
b     1      0.972835
      2      0.531018
c     1      0.607822
      2      0.171523
dtype: float64

In [93]:
data['a':'b']

char  int
a     1      0.247497
      2      0.345109
b     1      0.972835
      2      0.531018
dtype: float64

In [101]:
## Stacking and Unstacking Indices

pop.unstack(level=0)

state  California  New York     Texas
year
2000     33871648  18976457  20851820
2010     37253956  19378102  25145561

In [102]:
pop.unstack(level=1)

year            2000      2010
state
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [103]:
pop.unstack().stack()

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [104]:
## Index Setting and Unsetting

In [105]:
pop_flat = pop.reset_index(name='population')
pop_flat

        state  year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

In [106]:
# much real-world data is input in this format, can build a MultiIndex from it

In [107]:
pop_flat.set_index(['state', 'year'])

                 population
state      year
California 2000    33871648
           2010    37253956
New York   2000    18976457
           2010    19378102
Texas      2000    20851820
           2010    25145561

In [108]:
## Data Aggregations and Multi-Indices

In [109]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      44.0  37.8  52.0  36.7  31.0  37.5
     2      26.0  36.7  29.0  36.9  46.0  38.2
2014 1      39.0  37.0  38.0  36.9  41.0  36.9
     2      41.0  36.8  45.0  37.3  36.0  36.3

In [111]:
# average the measurements of the 2 visits each year
data_mean = health_data.mean(level='year')
data_mean

subject   Bob        Guido         Sue
type       HR   Temp    HR  Temp    HR   Temp
year
2013     35.0  37.25  40.5  36.8  38.5  37.85
2014     40.0  36.90  41.5  37.1  38.5  36.60

In [113]:
# can use axis to take mean among levels of columns as well
# this is average heart rate and temperature of all subjects for each year
data_mean.mean(axis=1, level='type')

type    HR       Temp
year
2013  38.0  37.300000
2014  40.0  36.866667